.container {
    max-width:35%;
    margin:0 auto;


    .group {
        display: flex;
        justify-content: space-around;
        .btn {
            padding: 1rem 0rem;
            border-radius: 10px;
            outline: none;
            text-transform: uppercase;
            width: 10rem;

        }

        &-btn-1 {
            background-color: red;
            color: white;
        }

        &-btn-2 {
            background-color: blue;
            color: white;
        }

        &-btn-3 {
            background-color: orangered;
            color: white;
        }
    }
}

